@model NewPasswordViewModel
@{
    ViewData["Title"] = "NewPassword";
}


<link href="d:\myprojects\new\aspnetcoreidentityapp\aspnetcoreidentityapp.web\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
<style>
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid silver;
        padding: 10px;
    }
</style>
<br />

<div class="center">
   
    <div class="@TempData["Bootstrap"]">
        <h3>@TempData["Message"]</h3>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </div>
    <br />
    <h1 style="text-align:center">Yeni şifrə</h1>
    <hr />
    <form  method="post">
        <div class="mb-3">
            <label for="pwd" class="form-label">Yeni şifrə:</label>
            <input type="password" class="form-control" id="pwd" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Təkrar yeni şifrə:</label>
            <input type="password" class="form-control" id="pwd" asp-for="ComfirmPassword">
            <span class="text-danger" asp-validation-for="ComfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-outline-warning">Şifrəni yenilə</button>
    </form>
</div>

