@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<link href="d:\myprojects\new\aspnetcoreidentityapp\aspnetcoreidentityapp.web\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
<style>
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid silver;
        padding: 10px;
    }
</style>
<br />

<div class="center">
    <div class="@TempData["Bootstrap"]">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        @TempData["Message"]
    </div>
    <br />
    <h4 style="text-align:center">Şifrə yeniləmə linki e-poçt ünvanına göndəriləcək</h4>
    <hr />
    <form  method="post">
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" asp-for="Mail">
            <span class="text-danger" asp-validation-for="Mail"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-success form-control">Göndər</button>
    </form>
</div>

