@model PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
}

<link href="d:\myprojects\new\aspnetcoreidentityapp\aspnetcoreidentityapp.web\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}
<style>
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid silver;
        padding: 10px;
    }

    .capcha-text {
        padding-top: 50px;
        transform: scaleY(1.2);
        transform: skewY(30deg);
        color: black;
        font-size: 40px;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: line-through;
    }

    .capcha-div {
        width: 200px;
        height: 100px;
        background-image: url(https://www.codeproject.com/KB/scripting/CreateCaptcha/1.JPG);
    }
    /*body{
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
        background: linear-gradient(to right, #ee5a6f, #f29263);
    }*/

    #NewPassForm{
        background-color:snow;
    }
</style>
<br />

<div id="NewPassForm" class="center">
    <div class="@TempData["Bootstrap"]">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    @TempData["Message"]
    </div>
    <br />
    <h4 style="text-align:center">Şifrə yeniləmə</h4>
    <hr />
    <form asp-controller="Member" asp-action="PasswordChange"  method="post">
        <div class="mb-3 mt-3">
            <label for="password" class="form-label">Köhnə şifrə:</label>
            <input type="password" class="form-control" asp-for="OldPassword">
            <span class="text-danger" asp-validation-for="OldPassword"></span>
        </div>
        <div class="row">
            <div class="col">
                <label for="password" class="form-label">Yeni şifrə:</label>
                <input type="password" class="form-control" asp-for="NewPassword">
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="col">
                <label for="password" class="form-label">Yeni şifrə təkrarı:</label>
                <input type="password" class="form-control" asp-for="NewConfirmPassword">
                <span class="text-danger" asp-validation-for="NewConfirmPassword"></span>
            </div>
        </div>

        <br />
        <br />
        <button type="submit" class="btn btn-warning form-control">Yenilə</button>
    </form>
</div>


